.form-cadastro{
    background-color: #d5d0d0;
    padding: 7px;
    width: 40%;
    border-radius: 15px;
}

.radio{
    border-radius: 7px;
    padding: 4px;
}

.positionElem{
    text-align: center;
}

label{ 
    font-weight: bold;
}